@import "../../../../sass/reset.scss";
@import "../../../../sass/variables.scss";

.edit-post {
  background-color: $white;
  padding: 32px 20px 0 20px;
  &__page-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form {
    padding: 20px;
    p {
      font-weight: 700;
      font-size: 18px;
      color: #181818;
    }
    form {
      margin-top: -40px;
    }
  }
}
.title {
  font-size: 18px;
  font-weight: 400px;
}
.bread {
  :hover {
    color: #1ea6fb;
  }
}
