@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.about {
  width: 100%;
  height: 100vh;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  &__bg {
    position: fixed;
    width: 110%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    background: url("../../../assets/home/job546-mind-27 1.jpg") no-repeat
      center center/cover;
    filter: brightness(40%);
  }
  &__container {
    position: relative;
    padding: 60px;
    z-index: 5;
    // opacity: 1 !important;
    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      text-align: center;
    }
    h1,
    p {
      width: 50%;
      text-align: center;
      color: $white;
    }
    p {
      text-align: left;
      margin-top: 56px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $offwhite;
    }
  }
}

@media (max-width: 992px) {
  .about {
    height: fit-content !important;
    &__container {
      width: 90% !important;
      p {
        // text-align: justify;
        margin-top: 48px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .about {
    &__container {
      padding: 60px 0 60px 0;
      h1,
      p {
        width: 100% !important;
      }
      p {
        line-height: 30px;
      }
    }
  }
}
