@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.header {
  width: 100%;
  height: 74px;
  background-color: $white;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
  &__container {
    &__logo {
      padding: 7px 44px;
      cursor: pointer;
      background-color: #d9d9d9;
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
      }
    }
    &__navbar-burger {
      display: none;
    }

    &__navbar {
      width: 55%;
      margin-bottom: 0%;
      a {
        color: $grey500;
        text-decoration: none;
      }
      &__item {
        position: relative;
        padding: 28px 0 28px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
        color: $grey400;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          background-color: $black;
          bottom: 3%;
          left: 0%;
          opacity: 0;
          animation: slideUnderlineOut 0.5s forwards;
        }

        &:hover {
          color: $black;
          &::after {
            animation: slideUnderlineIn 0.2s forwards;
          }
        }
      }
      .navbar-item-active {
        color: $black;
        font-weight: 700;
      }
      .navbar-item-active::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $black;
        bottom: 3%;
        left: 0%;
      }
    }
  }
  &__overlay {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    &__container {
      width: 90% !important;

      &__navbar-burger {
        display: block;
      }
      &__navbar {
        display: none !important;
      }
    }
    &__overlay-block {
      display: block;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0%;
      left: 0%;
      background-color: $white;
      padding: 30px;
      &__close {
        display: flex;
        justify-content: end;
        svg {
          path {
            fill: $black;
          }
        }
      }
      .header__overlay-block__navbar {
        width: 100%;
        a {
          width: 100%;
          .navbar-item-active {
            color: $black !important;
            font-family: "Helvetica";
            font-weight: 700 !important;
            font-size: 20px;
            line-height: 23px;
          }

          .header__overlay-block__navbar__item {
            position: relative;
            padding: 20px;
            border-bottom: 1px solid $offwhite;
            color: $grey500;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
}

@keyframes slideUnderlineIn {
  from {
    width: 1px;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideUnderlineOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    right: 0%;
    left: 100%;
    width: 1px;
    opacity: 0;
  }
}
