//Primary Tone
$primary: #1ea6fb;
$primaryMiddle: #82a3ff;
$primaryLight: #dfe8ff;

//Secondary Tone
$secondary: #ffc800;
$secondaryMiddle: #ffe277;
$secondaryLight: #fff1c0;

//Neutral Tone
$black: #000;
$black500: #242424;
$black400: #414141;
$black300: #7b7b7b;

$grey500: #3d3d3d;
$grey400: #848484;
$grey300: #bbbbbb;

$offwhite: #eeeeee;

$navy: #0e1624;

$white: #fff;
