@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.event-card {
  box-shadow: 0px 0px 10px 1px rgba(27, 41, 56, 0.06);
  cursor: pointer;
  &__first-card {
    img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
    &__main-content {
      position: absolute;
      width: 96.8%;
      z-index: 2;
      bottom: 0%;
      left: 1.6%;
      //   background-color: red;
      background: rgba(14, 22, 36, 0.8);
      padding: 20px;
      &__category,
      &__date {
        color: $grey300;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }
      &__title {
        padding: 12px 0 12px 0;
        color: $white;
        font-size: 22px !important;
      }
    }
  }
  img {
    width: 100%;
  }
  &__main-content {
    padding: 15px;
    &__category,
    &__date {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: $black300;
    }
    &__title {
      padding: 10px 0 10px 0;
      font-size: 22px !important;
    }
  }
}
