@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.hero {
  width: 100%;
  height: 950px;
  background: url("../../../assets/Rectangle137.png") no-repeat center
    center/cover;
  &__container {
    width: 50%;
    h1,
    p {
      text-align: center;
      color: $white;
    }
  }
}

@media (max-width: 575.98px) {
  .hero {
    &__container {
      width: 90% !important;
      h1 {
        font-size: 32px !important;
        line-height: 39px !important;
      }
    }
  }
}
