@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.primary-button {
  position: relative;
  display: block;
  padding: 16px 50px 16px 50px;
  background-color: $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border: 1px solid $black;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
  &:hover {
    background-color: $black;
    border: 1px solid transparent;
    color: $white;
  }
}
