@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.events {
  width: 100%;
  background-color: #edf8ff;
  z-index: 2;
  &__container {
    padding-top: 60px;
    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 575.98px) {
  .events {
    &__container {
      width: 90% !important;
    }
  }
}
