@import "../../sass/reset.scss";
@import "../../sass/variables.scss";
.event {
  margin-top: 140px;
  min-height: 100vh;
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
}
.wrapperEvent {
  width: 100%;
  margin: 0 auto;
  padding: 0 190px 62px 190px;
}
.card-event {
  position: relative;
  width: 347px;
  height: 421px;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  &:hover {
    .content {
      background-color: $black !important;
      h3,
      p {
        color: $white !important;
      }
    }
  }
  img {
    width: 100%;
    height: 234px;
    object-fit: cover;
  }
  .content {
    width: 347px;
    height: 187px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 22, 36, 0.8);
    padding: 20px;
    h3 {
      height: 99px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 22px !important;
      color: #ffffffff;
      margin: 0 !important;
      padding: 11px 0 20px 0;
    }
    p {
      font-size: 14px;
      color: #f3f3f3;
      margin: 0 !important;
    }
    .date {
      position: absolute;
      bottom: 10%;
      // left: 10%;
    }
  }
}

.tabEvent {
  position: relative;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .event {
    .event {
      margin-top: 30px;
    }
    .title {
      font-size: 30px;
      text-align: center;
    }
    .wrapperEvent {
      width: 100%;
      padding: 42px 20px;
    }
  }
}
@media (max-width: 1199px) {
  .event {
    margin-top: 60px;
  }
  .wrapperEvent {
    width: 100%;
    padding: 62px 80px;
  }
}

@media (min-width: 1600px) {
  .wrapperEvent {
    width: 80% !important;
    margin: 0 auto;
    // padding: 42px 20px;
  }
}
