.ManagePost {
    background-color: #ffff;

    .top {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
}
.title {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
