@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";

.career-card {
  width: 380px;
  padding: 24px;
  box-shadow: 0px 0px 8px 2px rgba(48, 82, 122, 0.04);
  background-color: $white;
  transition: background-color 0.3s ease;
  h4 {
    color: #000;
  }
  p {
    color: $black400;
  }
  h4,
  p {
    text-align: left;
    transition: color 0.3s ease;
  }

  &__info {
    padding-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
  }
  &__footer {
    width: 100%;
    padding-top: 50px;
    p {
      color: $black300;
      font-size: 16px;
      font-weight: 300;
      line-height: 19.36px;
    }
    &__button {
      cursor: pointer;
      // width: 152px;
      // width: 152px;
      padding: 13px;
      border: 1px solid $primary;
      background-color: transparent;
      color: $primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      transition: background-color 0.3s ease;
      transition: color 0.3s ease;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
  &:hover {
    background-color: #0e1624;
    h4 {
      color: $grey300;
    }
    p {
      color: $grey400;
    }
  }
}
