@import "../../../../sass/reset.scss";
@import "../../../../sass/variables.scss";

.manageCategorie {
  background-color: $white;
  .top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.title {
  font-size: 18px;
  font-weight: 400px;
}
