.header {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  padding: 0 58px;
  border-bottom: 1px;
  box-shadow: 0px 4px 16px 0px #0000000a;
  p {
    margin: 0;
  }
}

.avt {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
