@import "../../../sass/reset.scss";
@import "../../../sass/variables.scss";
.our-products {
  width: 100%;
  padding: 60px 0 60px 0;
  position: relative;
  &__container {
    &__title {
      text-align: center;
    }
    &__items {
      &__image-section {
        height: 100px;
        padding: 20px 0 30px 0;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 30px;
          height: 2px;
          background-color: #999999;
          bottom: 0%;
          left: 0%;
        }
      }
      p {
        // text-align: justify;
        color: $black400;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
      h3 {
        margin-top: 20px;
      }
      &__button {
        border: 1px solid $primary;
        background-color: $white;
        color: $primary;
        padding: 15px;
        margin-top: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        p {
          margin: 0 5px 0 0;
          color: $primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          transition: color 0.3s ease;
        }
        svg {
          path {
            transition: fill 0.3s ease;
          }
        }
        &:hover {
          background-color: $primary;
          p {
            color: $white;
          }
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .our-products {
    &__container {
      width: 90% !important;
      &__title {
        font-size: 32px !important;
      }
    }
  }
}
