@import "../../../sass/reset.scss";
.ManagePost {
  background-color: #ffff;
  padding-bottom: 20px;

  .top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
}

.edit {
  padding: 32px 20px 0 20px;
  background-color: #fff;
  min-height: 100vh;
  // height: 100%;
  .edit-form {
    .company-logo {
      svg {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
}
.bread {
  :hover {
    color: #1ea6fb;
  }
}
